.custom-slider{
    position: relative;
    overflow: hidden;
    height: 100%;
}

#carousel-custom{
    height: 100%;
    width: 100%;
    z-index: 1;
    img{
        display: block;
      width: 100vw;
      height: 90vh;
      object-fit: cover;
    }
}
#diagonale{
    position: absolute;
    z-index: 999;
    background: white;
    right: 0;
    top: 0;
    height: 90vh;
    width: 25%;
    padding-top: 18%;
    h2{
       font-family: 'american_captainregular', sans-serif;
       font-size: 36px;
       line-height: 38px;
       text-transform: uppercase;
       width: 60%;
       animation-duration: 3s;
    }
    .redbar{
        display: block;
        width: 90px;
        height: 12px;
        background: #eb212e;
        margin: 10px 0;
    }
    p{
       font-family: 'Raleway', sans-serif;
       font-size: 16px;
       width: 70%;
       animation-duration: 2s;
    }
}
#triangle{
position: absolute;
right: 25%;
top: 0;
width: 0;
z-index: 999;
height: 0;
border-bottom: 100vh solid #fff;
border-left: 300px solid transparent;
}
#image_suivante{
    position: absolute;
    right: 50px;
    top: 45%;
    z-index: 999;
    font-size: 70px;
    color: #eb212e;
    transition: 0.4s ease all;
    &:hover{
        color: black;
        transition: 0.4s ease all;
    }
}
