.padding-menu{
    padding-top: 20px;
        form{
            display: inline-block;
            p{
                color: #fff;
            }
            label{
                display: inline-block;
            }
            input{
                display: inline-block;
                margin-right: 0;
                height: 45px;
                &[type="submit"]{
                    width: 45px;
                    height: 45px;
                    background: #b5151f;
                    border: none;
                    transition: 0.4s ease all;
                    &:hover{
                        background: #710b0f;
                        transition: 0.4s ease all;
                    }
                }
            }
        }
}
