.padding-menu{
        form{
            display: inline-block;
            vertical-align: middle;
            padding-top: 25px;
            p{
                color: #fff;
                text-transform: uppercase;
                font-family: 'american_captainregular', sans-serif;
            }
            label{
                display: inline-block;
            }
            input{
                display: inline-block;
                margin-right: 0;
                height: 45px;
                border: none;
                &[type="submit"]{
                    width: 45px;
                    height: 45px;
                    background: #b5151f;
                    transition: 0.4s ease all;
                    &:hover{
                        background: #710b0f;
                        transition: 0.4s ease all;
                    }
                }
            }
        }
}

header{
    text-transform: uppercase;
}
