.home-first{
    margin-top: -3px;
    padding: 75px;
    position: relative;
    .background-home{
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -2;
        .owl-carousel{
            .item{
                height: 100%;
            }
        }
    }
    .background-filtre{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: -1;
    }
    article{
        display: block;
        width: 600px;
        margin: 0 auto;
        z-index: 99;
        img{
            display: block;
            margin: 0 auto 20px auto;
        }
        h1{
            font-family: 'american_captainregular', sans-serif;
            font-size: 49px;
            line-height: 49px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
            color: #fff;
        }
        form{

        }
        a{
            width: 290px;
            height: 56px;
            line-height: 52px;
            display: inline-block;
            text-align: center;
            border: 2px solid #eb212e;
            font-family: 'american_captainregular', sans-serif;
            text-decoration: none;
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:first-of-type{
                color: #eb212e;
                transition: 0.4s ease all;
                background: #fff;
                &:hover{
                transition: 0.4s ease all;
                color: #fff;
                background: #eb212e;
                border: 2px solid #eb212e;
                }
            }
            &:last-of-type{
                float: right;
                color: #fff;
                background: #eb212e;
                transition: 0.4s ease all;
                &:hover{
                    transition: 0.4s ease all;
                    background: #710b0f;
                    border: 2px solid #710b0f;
                }
            }
        }
    }
}
